extends layout

block content
  script(src="/javascripts/postData.js")
  script(src="/javascripts/counter.js")
  script(src="/javascripts/submit.js")

  br
  br
  br
  .toggle
    h3 Click to add review

  .postReview
    form(role='form', action="/reviews", method="post", style='max-width: 300px;')
          .form-group
            lable * Title:
            br
            input.form-control(type='text', name="title", placeholder='Title')
          .form-group
            br
            lable * Review:
            br
            textarea(type='text', name='content', rows='4', cols='50', placeholder="Enter review here")
            p#charCount 0
            p#outof &nbsp; / 300
          .form-group
            lable Rating:
            br
            br
            input(type="radio", name="rating", value="./images/thumbsup.png", checked="checked")
            img(src="./images/thumbsup.png", height="50")
            input(type="radio", name="rating", value="./images/thumbsside.png")
            img(src="./images/thumbsside.png", height="50")
            input(type="radio", name="rating", value="./images/thumbsdown.png")
            img(src="./images/thumbsdown.png", height="50")
          br
          button.btn.btn-defualt(type='submit') Submit

  .reviews
