extends layout

block content
  script(src="/javascripts/postData.js")
  script(src="/javascripts/counter.js")
  script(src="/javascripts/submit.js")

  br
  br
  br
  img.toggle(src="./images/edit-new-icon-22.png")
  .postReview
    form(role='form')
          .form-group
            label * Title:
            br
            input.form-control(type='text', name="title", placeholder='Title', autocomplete="off")
          .form-group
            br
            p
              span#titleCount 0
              | &nbsp; / 100
            br
            label * Review:
            br
            textarea(type='text', name='content', rows='4', cols='50', placeholder="Enter review here")
            br
            p
              span#charCount 0
              | &nbsp; / 300
          .form-group
            label Rating:
            br
            br
            input#good(type="radio", name="rating", value="./images/thumbsup.png", checked="checked")
            img(src="./images/thumbsup.png", height="50")
            input#average(type="radio", name="rating", value="./images/thumbsside.png")
            img(src="./images/thumbsside.png", height="50")
            input#bad(type="radio", name="rating", value="./images/thumbsdown.png")
            img(src="./images/thumbsdown.png", height="50")
          br
          button.btn.btn-defualt(type='submit') Submit
          #status
  br
