doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mobilestyle.css')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    link(href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
  body
    header
      .logo
        br
        img(src="./images/lip-clipart-rTLnLxrkc.png")
        .title
          h1 First
          h1 Impressions
    .container
      block content
    footer
      a(href="https://github.com/Peter-White/first_impressions") Github
