doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mobilestyle.css')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    link(href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    script(type='text/javascript').
        var qualityCheck = function(photo) {
          if(photo === './images/thumbsup.png') {
            return "good"
          } else if(photo === './images/thumbsdown.png') {
            return "bad"
          }
          else if(photo === './images/thumbsside.png') {
            return "average"
          }
          else {
            return 'error'
          }
        };
  body
    header
    .container
      block content
    footer
      a(href="https://github.com/Peter-White/first_impressions") Github
