doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mobilestyle.css')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    link(href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet")
  body
    header
      .logo
        img(src="./images/lip-clipart-rTLnLxrkc.png")
        .title
          h1 First
          h1 Impressions
      p Quick reviews for a quick response.
    .container
      block content
