@media (min-width: 320px) and (max-width: 568px) {
  #thumb {
    display:block;
    height: 40px;
    margin: 0 auto;
  }
  #title {
    padding-bottom: 3.5%;
    font-size: 20px;
  }
  .toggle {
    padding: 4%;
  }
  .form-control {
    font-size: 12px;
  }
  .postReview textarea {
    font-size: 10px;
  }
  .reviews {
    min-height: 600px;
  }
}

