a {
  color: #00B7FF;
}
body {
  background-color: rgb(255, 179, 217);
}
.container {
  background-color: white;
  margin: 0 auto;
}

.reviews {
  padding-top: 2%;
}
#thumb {
  float: left;
  padding: 3.5%;
}
#review {
  width: 75%;
  margin: 0 auto;
}
#title {
  font-size: 30px;
}
.reviews ul {
  border-radius: 10px;
  width: 80%;
  padding: 1% 0 1% 0;
  margin: 0 auto;
}
.reviews ul {
  background-color: red;
  background: -webkit-linear-gradient(red, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, white); /* Standard syntax */
}

.logo h1 {
  font-family: 'Kaushan Script', cursive;
  color: rgb(255, 0, 102);
}
footer {
  background-color: rgb(255, 179, 217);
}
/*Error Handler*/
.success {
  background-color: rgb(153, 255, 51);
}
.error {
  background-color: rgb(255, 51, 51);
}

.logo img {
  height: 60px;
  float: left;
}
.logo {
  padding: 1%;
  background-color: rgb(255, 179, 217);
}
.title {
  line-height: 20px;
}
.overLimit {
  color: red;
}
.form-control, textarea {
  width: 100%;
}
.form-control {
  font-size: 16px;
}
.toggle {
  cursor: pointer;
  height: 50px;
  padding: 0 4%;
}
.postReview {
  padding: 1% 4%;
}
.postReview textarea {
  font-size: 14px;
}
#charCount {
  float: left;
}
@media (min-width: 568px) {
  .postReview .form-control, textarea {
    width: 100%;
  }
  .container {
    width: 90%;
  }
  footer {
    width: 100%;
    padding: 2%;
  }
  footer a {
    font-size: 30px;
  }
}
