a {
  color: #00B7FF;
}
body {
  background-color: rgb(255, 179, 217);
}
.container {
  background-color: white;
  margin: 0 auto;
}
lable {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

/*Review Styling*/
#thumb {
  float: left;
  height: 50px;
}
.reviews ul {
  border-radius: 10px;
  width: 80%;
  padding: 1% 0 1% 0;
  margin: 0 auto;
}
.reviews {
  padding-top: 2%;
  font-family: 'Open Sans', sans-serif;
}
#review {
  margin: 0 auto;
  max-width: 80%;
}

  /*Review List*/
#thumb {
  position: relative;
  padding: 2% 2.5%;
}

/*Color Coder*/
.bad {
  background-color: red;
  background: -webkit-linear-gradient(red, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, white); /* Standard syntax */
}
.good {
  background-color: lightgreen;
  background: -webkit-linear-gradient(lightgreen, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightgreen, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightgreen, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightgreen, white); /* Standard syntax */
}
.average {
  background-color: yellow;
  background: -webkit-linear-gradient(yellow, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(yellow, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(yellow, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(yellow, white); /* Standard syntax */
}

footer {
  background-color: rgb(255, 179, 217);
}

/*Error Handler*/
.success {
  background-color: rgb(153, 255, 51);
}
.error {
  background-color: rgb(255, 51, 51);
}

/*Logo*/
.logo img {
  height: 150px;
  background-color: rgb(255, 179, 217);
  padding: 1%;
  border-radius: 0 0 20px 0;
}

/*Form Styling*/
.overLimit {
  color: red;
}
.form-control, textarea {
  width: 100%;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
}
.toggle {
  cursor: pointer;
  height: 50px;
}
.postReview {
  padding: 1% 4%;
}
.postReview textarea {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 568px) {
  .postReview .form-control, textarea {
    width: 100%;
  }
  a {
    font-size: 30px;
    float: right;
  }
  #title {
    font-size: 30px;
  }
  .reviews {
    min-height: 200px;
  }
  .form-control {
    font-size: 10px;
  }
  .postReview textarea {
    font-size: 14px;
  }
  .toggle {
    padding: 0 4%;
  }
  .container {
    min-height: 1000px;
  }
}
