a {
  color: #00B7FF;
}
.logo h1 {
  font-family: 'Kaushan Script', cursive;
  color: rgb(255, 0, 102);
}
.container {
  width: 100%;
}
.reviews {
  height: 500px;
  overflow: scroll;
}
.logo img {
  height: 60px;
  float: left;
}
.logo {
  padding: 1%;
  background-color: rgb(255, 179, 217);
}
.title {
  line-height: 20px;
}
.overLimit {
  color: red;
}
.toggle {
  cursor: pointer;
  height: 50px;
}
.form-control, textarea {
  width: 100%;
}
.form-control {
  font-size: 16px;
}
.postReview {
  padding: 1%;
}
.postReview textarea {
  font-size: 14px;
}
#charCount {
  float: left;
}
@media (min-width: 568px) {
  .postReview .form-control, textarea {
    width: 100%;
  }
  header {
    width: 100%;
  }
}
